@keyframes pricing-table {
  100% {
    transform: rotate(360deg);
  }
}

.package-name {
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

div {
  transition: all 1s ease;
}
.pricing-table {
  transition: 0.2s ease-out;
}
select {
  width: 400px;
  height: 70px;
  background-color: rgb(0, 183, 255);
  text-align: center;
  line-height: 42px;
  font-size: 40px;
  margin-bottom: 190px;
}

.pricing-table .package {
  transition: opacity 0.2s ease-in-out;

  width: 400px;
  animation: ani 1s forwards;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

.container {
  /* margin: 0 auto; */
  font-family: "Times New Roman", Times, serif;
  width: 800px;
  height: 200px;
}

.row {
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  align-items: center;
}

p {
  /* margin-left: 200px; */
  display: flexbox;
  text-align: center;
  font: weight 600px;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}

/* $(window).load(function() {

	$(".loader_inner").fadeOut();
	$(".loader").delay(400).fadeOut("slow");

});  */
